.loginBox{
    color: Black;
    background-color: white;
    box-shadow: 6px 6px 10px black;
    width: 35%;
    height:98vh;
    opacity: 0.95;
}

.login{
    padding: 5vh;
    
}

.center{
    display: flex;
    align-items: top; /*vertical*/
    justify-content: center; /*horizontal*/
}

a{
    size: 10%;
    color: blue;
}

a:hover {
    text-decoration: none;
    color: blueviolet;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
    padding:10%;
}

body{
    background-image: url("../imgs/house.jpeg");
    display: flex;
    align-items: right;
    justify-content: right;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}